@import "../../../node_modules/@mdxeditor/editor/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    & [data-lexical-decorator] > table {
      table-layout: fixed;

      & [data-tool-cell] {
        padding: 1px;
        line-height: 1rem;
      }
    }

    & li[role="checkbox"] {
      text-indent: 1.2rem;
    }

    & li[role="checkbox"]::before {
      transform: translate(6px, 7px);
    }

    & li[role="checkbox"]::after {
      transform: translate(6px, 7px) rotate(45deg);
    }

    & li[role="checkbox"] > :first-child {
      margin-left: 5px;
    }
  }
}

._admonitionDanger_1boox_151 {
  color: black;
  --admonitionBorder: darkred;
  --admonitionBg: crimson;
}

._admonitionInfo_1boox_152 {
  color: black;
  --admonitionBorder: darkgreen;
  --admonitionBg: lime;
}

._admonitionNote_1boox_153 {
  color: black;
  --admonitionBorder: dimgray;
  --admonitionBg: darkslategray;
}

._admonitionTip_1boox_154 {
  color: black;
  --admonitionBorder: blue;
  --admonitionBg: deepskyblue;
}

._admonitionCaution_1boox_155 {
  color: black;
  --admonitionBorder: darkkhaki;
  --admonitionBg: yellow;
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mdxeditor-source-editor,
.mdxeditor-diff-editor {
  filter: invert(1) hue-rotate(180deg);
}

.cm-lineNumbers {
  font-size: 1.2rem !important;
}

.cm-scroller {
  font-size: 1.2rem !important;
}

._diffSourceToggle_19o4e_938 > button:nth-child(2) {
  display: none;
}

._multiFieldForm_19o4e_1144 > div:first-child {
  display: none;
}
