@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: rgba(0, 0, 0, 0.5);
}

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;
    @apply select-none;
    @apply bg-transparent;
    @apply font-mono antialiased text-white;
    @apply overflow-hidden;

    background-color: var(--dark-bg);
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#9233ea8e] rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

.titlebar {
  @apply flex items-center justify-between pl-2 text-gray-300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-actions {
  @apply flex items-center;
}
.titlebar-icon {
  @apply py-0.5 cursor-pointer;
  width: 25px;
  height: 25px;
  padding: 4px 6px;
  text-align: center;
  cursor: pointer;
}
.titlebar-icon:hover {
  background-color: #383838;
}
.close:hover {
  @apply text-gray-100 bg-red-500;
}
.main {
  padding-top: 27px;
}
